
// sass --watch C:\Users\Fawzi\Desktop\composition\sass_practical\css:C:\Users\Fawzi\Desktop\composition\sass_practical\css --style :expanded

// @import 'sass/helpers/variables';
// @import 'sass/helpers/mixins';

@import 'sass/pages/homepage';





 
@import 'sass/layout/header';

@import 'sass/layout/navbar';

@import 'sass/layout/grid';
@import 'sass/components/buttons-img';
@import 'sass/pages/image';



 


// @import 'sass/components/headings';
// @import 'sass/components/buttons';


// @import 'sass/layout/footer';
