input.form-control.form-control-lg {
	padding: .5rem 3rem;
	margin-bottom: 20px;
	margin-top: 20px;
    width: 763px !important;

}
button .btn .btn-outline-white {
	border-radius: 10px;
}
.RNmpXc [type=button], [type=reset], [type=submit], button {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #d6dde4;
    }
.form-control-lg {
	border-radius: 10px !important;
}
input, ntp-realbox-icon {
    z-index: 5;
}
ntp-realbox-icon {
  
    left: 30px;
    position: absolute;
    top: 295px;
    
}
