input.form-control.form-control-lg {
	min-width: 35em; 
	margin-bottom: 20px;
	margin-top: 20px;
}
button .btn .btn-outline-white {
	border-radius: 10px;
}
.RNmpXc [type=button], [type=reset], [type=submit], button {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #d6dde4;
    }
.form-control-lg {
	border-radius: 10px !important;
}