.navbar-expand-lg {
    background-color: indigo;
}
.navbar-expand-lg {
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -ms-flex-pack: start;
   justify-content: flex-end !important;
}
.navbar-dark .navbar-nav .nav-link {
   color: rgba(255,255,255,1) !important;
}