

    .a9nkvf { 
    /* color: #4285f4; */
    
    color: rgb(66, 133, 244);
    font: 18px/18px roboto-regular, arial, sans-serif; 
    position: relative;
    left: -63px;
    top: 192px;
    white-space: nowrap;

    }
//    div {
	
	
//}
        div#searchform.jhp {
        margin-top: 0;
    
    }
    @media only screen and (max-height: 768px){
    .hp #searchform {
        top: 269px;
        }
    }
    .hp #searchform {
        position: absolute;
        top: 311px;
    }
    #searchform {
        width: 100%;
    }
    .a4bIc {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
    /*.big .tsf {
        width: 1139px;
    }*/
    .tsf {
        width: 833px;
        margin: 20px auto;
    }


    /* .form-control-lg {
        border-radius: 10px !important;
    } */

    .RNNXgb {
        display: flex;
        border-radius: 15px;
        border: 1px solid rgb(170, 170, 170);
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .lsb {
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #aaa;
        margin-top: 20px !important;
        margin-left: -50px;
    }
    .FAuhyb {
        background: none;
        color: #4285f4;
        height: 24px;
        width: 24px;
        margin: auto;

    }
    .z1asCe {
        display: inline-block;
        fill: currentColor;
        height: 24px;
        line-height: 24px;
        position: relative;
        width: 24px;
        cursor: pointer;
    }